doctype html
head
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous')
  link(rel='stylesheet' href='/css/design.css')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  style.
    body {
        font-family: Verdana;
        background: #000000;
    }
img(src='/images/logo4.gif' alt='image not uploaded' style='width: 160px; height: 160px;')
h1.h1  Covid Vaccine Provider
nav.navbar.navbar-expand-sm.bg-danger.navbar-dark.sticky-top.py-3
  a.navbar-brand(href='#') Logo
  ul.navbar-nav
    li.nav-item
      a.nav-link(href='/about') About Us
    li.nav-item
      a.nav-link(href='/faq')
        i.fas.fa-question-circle
    li.nav-item
    li.nav-item
      a.nav-link(href='/contactUs')
        i.fa.fa-address-book
    a.nav-link(href='/admin-login')
      i.fas.fa-user-shield
    li.nav-item
      a.nav-link(href='/form')
        i.fas.fa-user-cog
#demo.carousel.slide(data-ride='carousel')
  ul.carousel-indicators
    li.active(data-target='#demo' data-slide-to='0')
    li(data-target='#demo' data-slide-to='1')
    li(data-target='#demo' data-slide-to='2')
  .carousel-inner
    .carousel-item.active
      img(src='/images/pic1.jpg' alt='Los Angeles' width='1300' height='500')
      .carousel-caption
        h3 Los Angeles
        p We had such a great time in LA!
    .carousel-item
      img(src='/images/pic2.jpg' alt='Chicago' width='1300' height='500')
      .carousel-caption
        h3 Chicago
        p Thank you, Chicago!
    .carousel-item
      img(src='/images/pic3.jpg' alt='New York' width='1300' height='500')
      .carousel-caption
        h3 New York
        p We love the Big Apple!
  a.carousel-control-prev(href='#demo' data-slide='prev')
    span.carousel-control-prev-icon
  a.carousel-control-next(href='#demo' data-slide='next')
    span.carousel-control-next-icon
hr.line
.embed
  iframe(width='560' height='315' src='https://www.youtube.com/embed/xVu_I6WCsto?autoplay=1' allow='autoplay' title='YouTube video player' frameborder='0' allowfullscreen='')
a(href='/myth')
  img.rounded-circle(src='/images/link1.gif' alt='error')
a(href='/guide')
  img.rounded-circle(src='/images/link2.gif' alt='error')
a(href='/immunity')
  img.rounded-circle(src='/images/link3.gif' alt='error')
a(href='/stats')
  img.rounded-circle(src='/images/link4.gif' alt='error')
