
.username {
    margin-top: 20px;
    margin-left: 85%;
}
.reginfo {
    margin-left: 20%;
    margin-top: 5%;

} 
p {
    padding-top: 20px;
}
.status {
    margin-left: 70%;
}
.reg {
    margin-left: 70%;
}
.logout {
    margin-left: 90%;
}
